.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

/* Shared style */
.common-title3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.common-des2 {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}
.left {
  margin-left: 100px;
}
body {
  width: 1600px;
}
.website-container {
  width: 1280px;
  margin: 0 auto;
}
.pading {
  padding: 10px;
}

.common-title1 {
  font-size: 32px;
  text-align: left;
}
.common-title2 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}
.common-des1 {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}
.btn1 {
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  padding: 15px;
}
.btn2 {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 25px;
  border: none;
  margin-top: 20px;
}
.text-center {
  text-align: center;
}
/* =============================== */
/* Navbar Style */
nav {
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  background: rgb(245, 245, 245);
  padding: 20px;
}
.banner {
  height: 560px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64;
  padding: 80px 100px 80px 100px;
  margin: 80px 0px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  text-align: justify;
}
.banner-left h4 {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
/* Piller section style */
.piller-container {
  display: flex;
  gap: 60;
  padding: 24px;
  justify-content: center;
  width: 1280px;
}
.piller {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  gap: 24px;
  margin: 30px;
}
.box1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  text-align: justify;
  padding: 20px;
}
.box1 h4 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.box1 p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
/* Vision section */
.card-container {
  display: flex;
  gap: 30;
  margin-top: 40px;
  margin-bottom: 40px;
}
.card1 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  padding: 30px;
}
.card-btn {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background: rgb(84, 144, 245);
  border: none;
  width: 110px;
  height: 40px;
  text-align: center;
  padding: 10px;
}
.card2 {
  background: rgb(198, 228, 214);
  margin-left: 35px;
}
.card-btn2 {
  background: rgb(9, 161, 92);
  margin-top: 10px;
}
.card3 {
  background: rgb(247, 235, 207);
  margin-left: 35px;
}
.card-btn3 {
  background: rgb(255, 194, 57);
  margin-top: 10px;
}
/* Qation section style */
.quation {
  background-image: url("./assets/quote-bg.png");
  background-repeat: no-repeat;
  height: 206px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}
p.common-des2 {
  margin-top: 35px;
  margin-left: 10px;
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
h6.yunus {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-left: 10px;
}
p.p2.yunus {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
  text-align: left;
}
/* Opinion section style */
.opinion h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 30px;
  text-align: left;
}
.question-container {
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
}
.question-item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
  align-items: flex-start;
  gap: 24;
  padding: 24px;
}
.left {
  color: rgb(14, 14, 14);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.right {
  color: rgb(14, 14, 14);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-left: 23px;
}
.question-item2 {
  display: flex;
  justify-content: space-between;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  gap: 30px;
}
.left2 {
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  width: 85%;
  border-right: 2px solid red;
}
.right2 {
  width: 15%;
}
.right2 {
  width: 15%;
  box-sizing: border-box;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: rgb(198, 228, 214);
  height: 44px;
  text-align: center;
  margin-right: 14px;
}
select {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 9px;
  background-color: rgb(198, 228, 214);
  border: none;
}
/* Recent news section style */
.recent-news {
  margin-top: 30px;
}
.news-card1 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  gap: 30px;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
}
.card-image img {
  border-radius: 24px;
}
.bg-green {
  background-color: rgb(0, 106, 80);
  margin-top: 10px;
}
/* Donation section style */
p.donation-p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.donate {
  margin-top: 50px;
}
.donate-container {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.box1 {
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;

  background: rgb(255, 255, 255);
}
.box2 {
  background-color: rgb(198, 228, 214);
}
.box1:hover {
  background-color: rgb(198, 228, 214);
  transition: 0.5s;
}
input[type="text"] {
  width: 1032px;
  height: 80px;
  text-align: center;
  margin-top: 40px;
  padding: 40px 40px 40px 40px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  margin-left: 150px;
  margin-bottom: 50px;
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
button.donationb {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  height: 56px;
  width: 151px;
  margin-left: 585px;
  margin-top: -20px;
}
/* Newsletter section style */
.newsletter {
  margin-top: 50px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 100px;
}
input[type="email"] {
  border-radius: 8px 0px 0px 8px;
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 55px;
  border: none;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
button.donationb.sb {
    margin-left: -6px;
}
